# dependencies
node_modules/

# build output
build/
.output/
dist/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.local
.env.*.local

# database
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp
*.swo

# fly
.fly/
